{% extends "admin/base.html" %}

{% block head_css %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock head_css %}

{% block body %}
{{super()}}
    <div class="container-fluid">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            
            <div class="row placeholders">
                <div class="col">
                    <!-- <img src="https://pp.userapi.com/c840330/v840330508/763ce/u1k1yh4OkIM.jpg" width=80% height="400" alt="Generic placeholder thumbnail"> -->
                    <div id="map" style="width:85%;height:400px;"></div>
                    <script>
                        function myMap() {

                            var mapCanvas = document.getElementById("map");
                            var mapOptions = {
                                center: new google.maps.LatLng(43.2438949, 76.919709),
                                zoom: 13.1
                            };
                            var map = new google.maps.Map(mapCanvas, mapOptions);

                            var myLatlng1 = new google.maps.LatLng(43.2358081, 76.9103184);

                            var myLatlng2 = new google.maps.LatLng(43.251415, 76.94530166);

                            var map = new google.maps.Map(document.getElementById("map"), mapOptions);

                            var marker = new google.maps.Marker({
                                position: myLatlng1,
                                title: "{{ name }}"
                            });
                            var marker2 = new google.maps.Marker({
                                position: myLatlng2,
                                title: "5 Hospital"
                            });
                            // To add the marker to the map, call setMap();
                            marker.setMap(map);
                            marker2.setMap(map);
                        }
                    </script>
                    <script src="https://maps.googleapis.com/maps/api/js?key= AIzaSyA0pkf5YO177KXa_nqI3DAJ4TolOQyJ6Ok&callback=myMap"></script>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th>id of device</th>
                            <th>Data</th>
                            <th>Time</th>
                            <th>Address</th>
                            <th>Accepted</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in data %}
                        <div id="entrySection{{entry.id}}">
                            <tr>
                                <td> </td>
                                <td> {{ entry.signal_id }} </td>
                                <td> {{entry.date}} </td>
                                <td> {{entry.time}} </td>
                                <td> {{entry.address}} </td>
                                <td id="accepted{{entry.id}}">
                                    {% if entry.accepted == 0 %} 
                                    <input type="submit" class="btn btn-info" disabled value="Not accepted ..." />
                                    
                                    {% elif entry.accepted == 1 %}
                                    <input type="submit" class="btn btn-info" disabled value="Accepted ..." /> 
                                    {% endif %}
                                </td>
                            </tr>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock body %}


