{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <h2>Menu</h2>
          </button>
          <a class="navbar-brand" href="#">CardioM</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            {% if is_admin %}
              
            {% endif %}
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="{{ url_for('report') }}">Reports</a></li>
            <li><a href="#">Analytics</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">PULSE MONITORING IN {{ name }}</h1>

          <div class="row placeholders">
            <div class="col">
              <!-- <img src="https://pp.userapi.com/c840330/v840330508/763ce/u1k1yh4OkIM.jpg" width=80% height="400" alt="Generic placeholder thumbnail"> -->
              <div id="map" style="width:85%;height:400px;"></div>
            </div>
          </div>
          <div style = 'display: none;'>
            <p id = 'user_id'>{{user_id}}</p>
            <p id = 'length_data'>{{len_data}}</p>
            <audio class="my_audio" controls preload="none">
                <source src="{{url_for('.static', filename='warning.mp3')}}" type="audio/mpeg">
            </audio>
          </div>   

          <div class="table-responsive" id= 'table_content'>
            <table class="table">
              <thead>
                <tr>
                  <th> # </th>
                  <th>id of device</th>
                  <th>Data</th>
                  <th>Time</th>
                  <th>Address</th>
                  <th>Accepted</th>
                </tr>
              </thead>
              <tbody  id="entrySection">
                
                  {% for entry in data %}               
                    <tr>                  
                      <td> </td>  
                      <td> {{ entry.signal_id }} </td>
                      <td> {{entry.date}} </td>
                      <td> {{entry.time}} </td>
                      <td> {{entry.address}} </td>
                      <td>                                          
                        {% if entry.accepted == 0 %}
                          <button class="btn btn-danger acceptButton" id={{entry.id}} entry_id="{{entry.id}}" user_id= "{{user_id}}">Accept</button>                    
                        {% elif entry.accepted == 1 %}
                          <input class="btn btn-success" disabled value="Accepted ..."/>
                        {% endif %} 
                      </td>
                    </tr>
                  
                  {% endfor %}
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="jquery-3.3.1.min.js"></script>
    <script src="{{url_for('.static', filename='map.js')}}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0pkf5YO177KXa_nqI3DAJ4TolOQyJ6Ok&callback=myMap"></script>
    <script>
      $(document).ready(function(){

        var play = false;

        $('#entrySection').on('click', 'button.acceptButton',function(){
            
            var entry_id=$(this).attr('entry_id');   
            var user_id=$(this).attr('user_id'); 

            $.ajax({
                url: '/dashboard/'+user_id+'/'+entry_id,
                type: 'GET',
                data: {user_id : user_id, id: entry_id},
                success: function (data) {
                  $('#' + entry_id).removeClass('btn btn-danger updateButton').addClass('btn btn-success');
                  $('#' + entry_id).prop('disabled', true);
                  $('#' + entry_id).html("Accepted ...");

                  play = false;
                }
            });
        });
          

        setInterval(function () {
          var user_id = $('#user_id').text();
          var counter = $('#length_data').text();
          // console.log(user_id, counter);
          $.ajax({
              url: '/update/'+user_id,
              type: 'GET',
              data: { user_id: user_id, length_data: counter },
              success: function (data) {
                // console.log(data)
                if (data!='not update'){
                  play = true;
                  $("#entrySection > tr").remove(); 
                  $('#length_data').text(data.length);

                  for(var i=data.length-1; i>=0; i--){                                     

                    var tr = document.createElement("tr");
                    var td1 = tr.appendChild(document.createElement('td'));
                    var td2 = tr.appendChild(document.createElement('td'));
                    var td3 = tr.appendChild(document.createElement('td'));
                    var td4 = tr.appendChild(document.createElement('td'));
                    var td5 = tr.appendChild(document.createElement('td'));
                    var td6 = tr.appendChild(document.createElement('td'));
                    var button = td6.appendChild(document.createElement('button'))

                    td1.innerHTML = '';
                    td2.innerHTML = data[i]['hospital_id'];
                    td3.innerHTML = data[i]['date'];
                    td4.innerHTML = data[i]['time'];
                    td5.innerHTML = data[i]['address'];

                    if (!data[i]['accepted']){
                      var e_id = data[i]['id'];
                      var u_id = data[i]['hospital_id'];
                      button.className = "btn btn-danger acceptButton";
                      button.innerHTML = "Accept";
                      button.id = e_id;
                      button.setAttribute('entry_id', e_id);
                      button.setAttribute('user_id', u_id);
                      button.type = 'button';
                      // button.onclick = function(){
                      //   $.ajax({
                      //     url: '/dashboard/'+u_id+'/'+e_id,
                      //     type: 'GET',
                      //     data: {user_id : u_id, id: e_id},
                      //     success: function (data) {
                      //       var button = document.getElementById(`${e_id}`);
                      //       button.className = "btn btn-success";
                      //       button.innerHTML = "Accepted ...";
                      //       button.disabled = true;

                      //       play = false;                            
                      //       console.log('stopped')

                      //       }
                      //   });
                      // };

                      // var inner_html = `<button class="btn btn-danger acceptButton" id = "${e_id}" entry_id="${e_id}" user_id= "${u_id}">Accept</button>`
                    }else{
                      button.className = "btn btn-success";
                      button.innerHTML = "Accepted ...";
                      button.disabled = true;                      
                    }

                    document.getElementById("entrySection").appendChild(tr);
                  }                 
                  
                }
                  
              }
          });
        }, 10000);
        
       
        setInterval(function(){
          
          if (play){       
            $(".my_audio").trigger('play');
          }else{           
            $(".my_audio").trigger('pause');
            $(".my_audio").prop("currentTime",0);
          }
        },1000)

      });
    </script>
{% endblock %}