{% extends "bootstrap/base.html" %} 
{% block title %} Report {% endblock %} 
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}"> 
{% endblock %} 
{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <h2>Menu</h2>
            </button>
            <a class="navbar-brand" href="#">CardioM</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Settings</a>
                </li>
                <li>
                    <a href="#">Profile</a>
                </li>
                {% if is_admin %} {% endif %}
                <li>
                    <a href="{{ url_for('logout') }}">Log Out</a>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>
                    <a href="{{url_for('dashboard', user_id=user_id)}}">Overview
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li  class="active">
                    <a href="#">Reports</a>
                </li>
                <li>
                    <a href="#">Analytics</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
         
        <h3><li class="list-group-item list-group-item-action list-group-item-success">Montly report</li></h3>
        <canvas id="monthly_chart" width="300" height="100"></canvas>
        <br>
        <br>
        <h3><li class="list-group-item list-group-item-action list-group-item-success" >Weekly report</li></h3>
        <canvas id="weekly_chart" width="300" height="100"></canvas>
    </div>
</div>
<script src="{{url_for('.static', filename='charts.js')}}"></script>

{% endblock %}